.aboutMeMain,
.footer,
.jumbotron,
.jumbotron2,
.navBarCenter {
  display: flex;
}

.aboutMeMain,
.jumbotron,
.jumbotron2 {
  flex-direction: column;
}

.aboutMeMain,
.footer,
.navBarCenter,
.jumbotron,
.jumbotron2 {
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.jumbotron,
.jumbotron2,
.bottomPadding {
  height: auto;
}

.jumbotron {
  min-width: 40vw;
  max-width: 70vw;
}

.jumbotron2,
.bottomPadding {
  width: auto;
}

.jumbotron2 {
  width: auto;
}

.bottomPadding {
  padding-bottom: 1vh;
}

.center {
  text-align: center;
  margin-bottom: 1rem;
}

p {
  color: #fff;
  font-size: 0.9em;
}

/* FOR MOBILE */
@media screen and (max-width: 800px) {
  p {
    text-align: center;
    max-width: 25rem;
  }

  .jumbotron2 {
    margin-top: 0.85rem;
  }

  .navBarCenter {
    font-size: 1rem;
  }

  li {
    margin: 0.5rem;
  }
}
