.aboutMeMain,
.footer,
.jumbotron,
.jumbotron2,
.navBarCenter {
  display: flex;
}
.aboutMeMain,
.jumbotron,
.jumbotron2 {
  flex-direction: column;
}

.aboutMeMain,
.footer,
.navBarCenter {
  justify-content: center;
  align-items: center;
}

.jumbotron {
  justify-content: center;
  align-items: center;
  min-width: 40vw;
  max-width: 70vw;
  height: auto;
  border-radius: 0.5rem;
  /* border: yellow 5px solid; */
}

.jumbotron2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 2rem;
  border-radius: 0.5rem;
  /* border: blue 5px solid; */
}

.bottomPadding {
  height: auto;
  width: auto;
  padding-bottom: 1vh;
}

.center {
  text-align: center;
}

.footer {
  margin-bottom: 1vh;
  height: 60px;
  text-align: center;
  min-width: auto;
}

h3 {
  font-size: 1.75em;
}

p {
  color: green;
  font-size: 1em;
}

/* FOR DESKTOP */
@media screen and (min-width: 800px) {
  .aboutMeMain {
    margin-top: -2.5rem;
    /* border: red solid 3px; */
    /* max-width: 100%; */
    /* height: auto; */
    /* visibility: hidden; */
  }
}
/* FOR MOBILE */
@media screen and (max-width: 800px) {
  p {
    color: black;
    font-size: 0.9em;
    text-align: center;
  }

  .jumbotron {
    padding: 2rem 11rem 0rem 11rem;
    /* border: orange solid 2px; */
  }

  .navBarCenter {
    font-size: 1rem;
  }

  li {
    margin: 0.5rem;
  }
}
