.aboutMeMain,
.footer,
.jumbotron,
.jumbotron2,
.navBarCenter,
.hidden {
  display: flex;
}

.aboutMeMain,
.footer,
.jumbotron,
.jumbotron2,
.navBarCenter,
.center,
.iFrame {
  overflow: hidden;
}

.aboutMeMain,
.jumbotron,
.jumbotron2,
.hidden {
  flex-direction: column;
}

.aboutMeMain,
.footer,
.jumbotron,
.jumbotron2,
.navBarCenter,
.hidden {
  justify-content: center;
  align-items: center;
}

.hidden,
.center,
p {
  text-align: center;
}

.aboutMeMain,
.hidden,
.center {
  transition: ease 1s;
}

.aboutMeMain {
  max-height: 450px;
}

.hidden {
  max-height: 0px;
}

.bottomPadding,
.jumbotron,
.jumbotron2 {
  height: auto;
}

.jumbotron {
  min-width: 40vw;
  max-width: 70vw;
}

.jumbotron2,
.bottomPadding {
  width: auto;
}

.center {
  margin-bottom: 1rem;
  max-height: 1000px;
}

p {
  color: #fff;
  font-size: 0.9em;
  max-width: 35vw;
  overflow: hidden;
}

/* FOR MOBILE */
@media screen and (max-width: 800px) {
  p {
    max-width: 25rem;
  }

  .jumbotron2 {
    margin-top: 0.85rem;
  }

  .navBarCenter {
    font-size: 1rem;
  }

  li {
    margin: 0.5rem;
  }
}
